.grid{
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr 4fr 3fr 1fr;
}

header{
    background-color: lightblue;
}

main{
    background-color: lightgreen;
}

aside{
    background-color: orangered;
}

footer{
    background-color: blue;
}

@media (min-width: 1024px){
    .grid{
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    header{
        grid-row: 1 / -1;
    }

    main{
        grid-row: 1 / 7;
        grid-column: 2 / span 2; 
    }

    aside{
        grid-row: 7 / 9;
        grid-column: 2 / span 2;
    }

    footer{
        grid-row: 9 / -1;
        grid-column: 2 / span 2;
    }
}

@media (min-width: 1230px){
.grid{
    grid-template-columns:repeat(4, 1fr);
}

    main{
        grid-row: 1 / 9;
        grid-column: 2 / span 2;
    }

    aside{
        grid-row: 1 / -1;
        grid-column: 4 / span 1;
    }

    footer{
        grid-column: 2 / span 2;
    }
}
